DB_HOST=
SERVER_PORT=
DB_PORT=
DB_ROOT_PASSWORD=
DB_NAME=
DB_PASSWORD=
DB_USER=
DB_MIGRATION_USER=
DB_MIGRATION_PASSWORD=
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_FORGOT_PASSWORD_TOKEN_SECRET=
JWT_VERIFY_EMAIL_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRE_TIME=
JWT_REFRESH_TOKEN_EXPIRE_TIME=
JWT_FORGOT_PASSWORD_TOKEN_EXPIRE_TIME=
JWT_VERIFY_EMAIL_TOKEN_EXPIRE_TIME=
PASSWORD_SALT=